DJANGO_SECRET_KEY=replace-this-with-a-random-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

POSTGRES_DB=grocerease
POSTGRES_USER=grocerease
POSTGRES_PASSWORD=grocerease
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
